In [3]:
import requests
import json
import pandas as pd

In [9]:
url = 'https://ssd-api.jpl.nasa.gov/fireball.api'
# params = {'date-min': '2000-01-01', 
#           'date-max': '2024-01-01'}
response = requests.get(url)
data = response.json()
data_df = pd.DataFrame(data['data'], columns=data['fields'])
data_df['lat'] = pd.to_numeric(data_df['lat'])
data_df['lon'] = pd.to_numeric(data_df['lon'])

In [26]:
data_df.sample(5)

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
173,2019-05-25 06:44:04,4.9,0.16,19.2,S,89.4,E,29.2,15.8
403,2012-09-18 19:34:39,24.4,0.67,1.2,N,52.2,W,28.1,18.3
943,1995-08-06 04:38:09,5.5,0.18,NaN,None,NaN,None,None,None
89,2021-07-29 13:19:57,3.7,0.13,42.4,N,98.4,E,26.4,14.7
210,2018-06-21 01:16:20,122.4,2.8,52.8,N,38.1,E,27.2,14.4

In [8]:
data_df = data_df[['lat', 'lon']]
data_df.rename(columns = {'lon': 'lng'}, inplace=True)
data_df.dropna(inplace=True)
data_df.to_json('data.json')

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_85944/2359447248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df.rename(columns = {'lon': 'lng'}, inplace=True)
/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_85944/2359447248.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df.dropna(inplace=True)

In [7]:
data_df.sample(5)

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
335,2015-01-02 13:39:19,2.0,0.073,31.1,S,140.0,E,38.1,18.1
414,2012-05-15 11:04:17,13.2,0.39,61.8,S,135.5,W,33.3,17.1
191,2018-12-18 23:48:20,3133,49,56.9,N,172.4,E,26.0,13.6
2,2023-12-30 21:04:34,21.7,0.6,63.4,S,79.9,E,37.0,28.3
282,2016-03-16 23:54:20,3.2,0.11,49.2,S,6.3,W,42.0,13.3