In [20]:
import requests
# import json
import pandas as pd

In [21]:
url = 'https://ssd-api.jpl.nasa.gov/fireball.api'
# params = {'date-min': '2000-01-01', 
#           'date-max': '2024-01-01'}
response = requests.get(url)
data = response.json()
data_df = pd.DataFrame(data['data'], columns=data['fields'])
data_df['lat'] = pd.to_numeric(data_df['lat'])
data_df['lon'] = pd.to_numeric(data_df['lon'])
data_df_coords = data_df.copy()
data_df_coords['lat'] = ''
data_df_coords['lon'] = ''

In [22]:
for i in range(len(data_df_coords)):
    if data_df_coords['lat-dir'][i] == 'S':
        data_df_coords['lat'][i] = data_df['lat'][i] * -1
    else:
        data_df_coords['lat'][i] = data_df['lat'][i]
    if data_df_coords['lon-dir'][i] == 'W':
        data_df_coords['lon'][i] = data_df['lon'][i] * -1
    else:
        data_df_coords['lon'][i] = data_df['lon'][i]
data_df_coords

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
0,2024-02-26 11:21:01,3.7,0.13,22.9,N,57.1,E,33.1,31.3
1,2024-02-05 00:32:54,4.6,0.15,-13.8,S,123.7,E,23.0,14.4
2,2023-12-30 21:04:34,21.7,0.6,-63.4,S,79.9,E,37.0,28.3
3,2023-11-21 22:17:29,3.8,0.13,-9.4,S,17.4,E,37.0,18.3
4,2023-10-30 07:22:56,2.6,0.092,-42.9,S,-44.7,W,33.8,17.6
...,...,...,...,...,...,...,...,...,...
968,1993-11-29 17:48:41,2.6,0.092,26.5,N,78.3,E,None,None
969,1993-10-31 03:39:27,4.0,0.13,51.3,N,-100.9,W,None,None
970,1991-10-04 09:22:47,55.0,1.4,78.7,N,6.3,E,None,None
971,1990-10-01 03:51:47,250.0,5.2,7.5,N,142.8,E,None,None
972,1988-04-15 03:03:10,758,14,-4.1,S,124.3,E,None,None

In [23]:
data_df_coords.sample(5)

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
77,2021-12-20 23:15:55,3.2,0.11,62.7,N,60.3,E,56,18.2
3,2023-11-21 22:17:29,3.8,0.13,-9.4,S,17.4,E,37.0,18.3
792,2001-05-06 04:30:29,5.0,0.16,NaN,None,NaN,None,None,None
102,2021-02-02 10:03:21,3.1,0.11,48.7,N,80.1,E,20,None
226,2018-01-15 02:18:38,19.9,0.56,-52.0,S,57.2,E,43.6,23.7

In [24]:
# data_df_coords = data_df_coords[['lat', 'lon']]
data_df_coords.rename(columns = {'lon': 'lng'}, inplace=True)
data_df_coords.dropna(inplace=True)
data_df_coords.to_json('data.json')

In [25]:
data_df_coords.sample(5)

,date,energy,impact-e,lat,lat-dir,lng,lon-dir,alt,vel
233,2017-11-19 04:17:32,2.8,0.098,-24.2,S,135.0,E,33.3,11.4
179,2019-04-22 21:42:11,12.4,0.37,-48.8,S,67.8,E,33.3,11.4
235,2017-10-23 15:31:23,2.4,0.086,28.8,N,44.6,E,35.4,16.7
334,2015-01-07 01:05:59,13.6,0.4,45.7,N,26.9,E,45.5,35.7
476,2010-09-03 12:04:58,175.0,3.8,-61.0,S,146.7,E,33.3,12.3