In [1]:
import requests
# import json
import pandas as pd

In [2]:
url = 'https://ssd-api.jpl.nasa.gov/fireball.api'
# params = {'date-min': '2000-01-01', 
#           'date-max': '2024-01-01'}
response = requests.get(url)
data = response.json()
data_df = pd.DataFrame(data['data'], columns=data['fields'])
data_df['lat'] = pd.to_numeric(data_df['lat'])
data_df['lon'] = pd.to_numeric(data_df['lon'])
data_df_coords = data_df.copy()
data_df_coords['lat'] = ''
data_df_coords['lon'] = ''

In [3]:
for i in range(len(data_df_coords)):
    if data_df_coords['lat-dir'][i] == 'S':
        data_df_coords['lat'][i] = data_df['lat'][i] * -1
    else:
        data_df_coords['lat'][i] = data_df['lat'][i]
    if data_df_coords['lon-dir'][i] == 'W':
        data_df_coords['lon'][i] = data_df['lon'][i] * -1
    else:
        data_df_coords['lon'][i] = data_df['lon'][i]
data_df_coords.head()

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
0,2024-02-26 11:21:01,3.7,0.13,22.9,N,57.1,E,33.1,31.3
1,2024-02-05 00:32:54,4.6,0.15,-13.8,S,123.7,E,23.0,14.4
2,2023-12-30 21:04:34,21.7,0.6,-63.4,S,79.9,E,37.0,28.3
3,2023-11-21 22:17:29,3.8,0.13,-9.4,S,17.4,E,37.0,18.3
4,2023-10-30 07:22:56,2.6,0.092,-42.9,S,-44.7,W,33.8,17.6

In [4]:
data_df_coords.sample(5)

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
523,2009-04-10 18:42:45,27.0,0.73,-44.7,S,25.7,E,32.4,19.1
579,2007-05-04 17:52:39,17.5,0.5,22.9,N,109.4,E,48.0,None
913,1996-08-17 15:46:08,3.4,0.12,NaN,None,NaN,None,None,None
95,2021-05-02 14:12:49,2.5,0.089,12.3,N,-43.4,W,None,None
67,2022-02-17 12:08:06,2.7,0.095,33.5,N,-38.9,W,41.0,None

In [5]:
# data_df_coords = data_df_coords[['lat', 'lon']]
data_df_coords.rename(columns = {'lon': 'lng'}, inplace=True)
data_df_coords.dropna(inplace=True)
# data_df_coords.to_json('data.json')

In [6]:
data_df_coords['lat'] = pd.to_numeric(data_df_coords['lat'])
data_df_coords['lng'] = pd.to_numeric(data_df_coords['lng'])
data_df_coords['energy'] = pd.to_numeric(data_df_coords['energy'])
data_df_coords.dtypes

date         object
energy      float64
impact-e     object
lat         float64
lat-dir      object
lng         float64
lon-dir      object
alt          object
vel          object
dtype: object

In [7]:
data_df_coords.describe()

             energy         lat         lng
count    292.000000  292.000000  292.000000
mean     198.281849    0.811815   17.515753
std     2207.431749   39.579567   98.727993
min        2.000000  -83.700000 -179.700000
25%        3.800000  -31.000000  -48.900000
50%        7.600000    1.250000   29.000000
75%       23.875000   33.100000   99.025000
max    37500.000000   88.500000  180.000000